<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ling.stums.mapper.ClassScheduleMapper">
<select id="searchByClass" parameterType="string">
    select * from class_schedule where teach_time like '%${s}'
</select>
    <select id="searchByDay" parameterType="string">
    select * from class_schedule where teach_time like  '${s}%'
</select>

</mapper>
